/* Your CSS here. */
div {
    width: 500px;
    background-color: gray;
    margin: auto;
    padding: 25px;
    text-align: center;
    color:azure;
    
}
h4{
    font-style: italic;
}
img {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-weight: bold;
}
p {
    text-align: left;
    font-size: small;
}